package ${packageName}.service;

import ${packageName}.domain.${ClassName};
import com.baomidou.mybatisplus.spring.service.IService;
#if($table.tree)
import com.gulimall.common.core.domain.Ztree;
#end

/**
 * ${functionName}Service接口
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}>
{

}
